@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
	--padding-container: 100px 0;
	--color-title:#001A49;
	--logotipo: black;
	--profesion: white;
	--primario:#FF28BB;
}


body{
	font-family: 'poppins', sans-serif;
}



.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: var(--padding-container);
}

.Hero{
	width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
}

.Hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: linear-gradient(#983E3E, #181A9A);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 45% 100%, 0 95%);
    z-index: -1;
}

/* ENCABEZADO */

.nav{
	--padding-container: 0; 
	height: 100%;
	display: flex;
	align-items: center;
}

.nav__title{
font-weight: 300;
}

.nav__item{
	list-style: none;
}

.nav__link{
	margin-left: auto;
	padding: 0;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	gap: 2em;
}
.nav__link{
	color: white;
	text-decoration: none;
}

.nav__menu{
	margin-left: auto;
	cursor: pointer;
	display: none;
}

.nav__image{
	display: block;
	width: 30px;
}

.nav__close{
	display: var(--show, none);

}

/*presentacion*/

.hero__container{
	max-width: 800px;
	display: grid;
	--padding-container: o;
	grid-auto-rows: max-content;
	align-content: center;
	gap: 1em;
	padding-bottom: 100px;
	text-align: center;
}

.hero__title{
	font-size: 3rem;
	border: 5px solid var(--logotipo);
	color: var(--logotipo);
}

.hero__paragraph{
	margin-bottom: 20px;
	color: var(--logotipo) ;
	background: var(--padding-container);
	padding: 12px 20px;
	
}

.cta{
	display: inline-block;
	background-color: thistle;
	justify-self: center;
	color: white;
	text-decoration: none;
	padding: 13px 30px;
	border-radius: 30px;
}
