<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mi página web</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='imagenes')}}">
</head>
<body>
	<!-- encabezado -->
	<header class="Hero">
	<nav class=" nav container">
		<div class="nav__logo">
		<h2 class="nav__title">Pagina web</h2>
		</div>
		 <ul class="nav__link nav__link--menu">
			 <li class="nav__item">
				<a href="#" class="nav__link">inicio</a>
			 </li>
			 <li class="nav__item">
				<a href="#" class="nav__link">Contacto</a>
			 </li>
			<li class="nav__item">
				<a href="#" class="nav__link">Quienes Somos </a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">Donde Encontrarnos</a>
	</nav>

		 <section class="hero__container container">
			<h1 class="hero__title">Titulo</h1>		
			<p class="hero__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nulla ullam aperiam quos eligendi. Excepturi, facere repellat adipisci temporibus illum obcaecati similique. Necessitatibus provident facere quae omnis nesciunt tempore porro.</p>
			<a href="#" class="cta">Comienza AhoraS</a>

		</section>
	</header>


